body {
  background-color: #011f3c;
  color: white;
}
h1 {
  margin: 1rem 0;
}
p {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-left: 4rem;
}
.random-headng {
  color: #0f8664;
  border-bottom: 2px solid #0f8664;
  font-weight: 200;
  padding-bottom: 0.5rem;
  width: 250px;
}
.input-box {
  position: relative;
  width: 360px;
  height: 40px;
  background-color: aliceblue;
  margin: 20px 0;
  display: flex;
}
.input-box input {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 100%;
  outline: none;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.input-box input::placeholder {
  font-size: 1rem;
}
.input-box i {
  position: absolute;
  color: black;
  top: 0;
  right: 0;
  font-size: 1.75em;
  padding: 5px;
  cursor: pointer;
}
button {
  background-color: #017d4e;
  outline: 0;
  border: none;
  width: 250px;
  height: 50px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
